html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Cyrvetica';
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #784e14;
    max-width: 400px;
    max-height: 650px;
    border: 3px solid #784e14;
    margin: 0 auto;
}

input, textarea, select, button {
    font-family: inherit;
  }

a {
    text-decoration: none;
}

.container {
    max-width: 380px;
    margin: 0 auto;
    padding: 0 10px;
}

/*--  -------------------index start----------------------------------------- --*/
.main-index {
    background-color: #fffdce;
}

.index {
    display: block;
    border: 1px solid transparent;
    position: relative;
}

.index__comb {
    position: absolute;
    left: 12%;
    top: 7%;
    width: 76%;
    height: 86%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid transparent;
}

.comb__row {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.comb__row_0 { 
    margin-top: 0px;
    padding-left: 60px;
}

.comb__row_1 { 
    margin-top: -4px;
    padding-left: 23px;
}

.comb__row_2 { 
    margin-top: -4px;
    padding-right: 14px;
}

.comb__row_3 {
    margin-top: -4px;
    padding-right: 162px;
}

.comb__row_4 {
    margin-top: -4px;
    padding-right: 162px;
}

.comb__row_5 {
    margin-top: -4px;
    padding-right: 125px;
}

.comb__row_6 {
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.comb__row_6-column {
    flex: 0 0 50%;
}

.comb__hexa {
    height: 36px;
    flex: 0 0 37px;
}

.hex {
    position: relative;
    width: 36px;
    height: 36px;
}
.hex__block {
    width: 35px;
    height: 20px;
    border-top: transparent;
    border-left: 3px solid #c18f4b;
    border-bottom: transparent;
    border-right: 3px solid #c18f4b;
}

.hex__block_blue {
    animation-duration: 2s;
    animation-name: bl;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

.hex__block_green {
    animation-duration: 2s;
    animation-name: gr;
    animation-iteration-count: infinite;
    animation-delay: 0.6s;
}

.hex__block_yellow {
    animation-duration: 2s;
    animation-name: ye;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
}

@keyframes bl {
    0% {
        border-top: transparent;
        border-left: 3px solid #c18f4b;
        border-bottom: transparent;
        border-right: 3px solid #c18f4b;
    }
    50% {
        border-top: transparent;
        border-left: 3px solid #03cac7;
        border-bottom: transparent;
        border-right: 3px solid #03cac7;
    }
}

@keyframes gr {
    0% {
        border-top: transparent;
        border-left: 3px solid #c18f4b;
        border-bottom: transparent;
        border-right: 3px solid #c18f4b;
    }
    50% {
        border-top: transparent;
        border-left: 3px solid #047c25;
        border-bottom: transparent;
        border-right: 3px solid #047c25;
    }
}

@keyframes ye {
    0% {
        border-top: transparent;
        border-left: 3px solid #c18f4b;
        border-bottom: transparent;
        border-right: 3px solid #c18f4b;
    }
    50% {
        border-top: transparent;
        border-left: 3px solid #ffc62a;
        border-bottom: transparent;
        border-right: 3px solid #ffc62a;
    }
}

.hex__block_first {
    width: 35.5px;
    position: absolute;
    top: 15px;
    left: 7.25px;
}

.hex__block_second {
    position: absolute;
    transform: rotate(60deg);
    top: 15px;
    left: 7.25px;
}

.hex__block_third {
    position: absolute;
    transform: rotate(-60deg);
    top: 15px;
    left: 7.25px;
}

.index__logo {
    max-width: 50px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #784e14;
    margin: 42% 50%;
}

.index__loading {
    max-width: 100px;
    font-family: 'Roboto';
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 37px;
    font-weight: 600;
    color: #784e14;
}

.dot {
}

.dot_1 {
    animation-duration: 2s;
    animation-name: dot;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
}

.dot_2 {
    animation-duration: 2s;
    animation-name: dot;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
}

.dot_3 {
    animation-duration: 2s;
    animation-name: dot;
    animation-iteration-count: infinite;
    animation-delay: 0.6s;
}

@keyframes dot {
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}


/*--  -------------------index end------------------------------------------- --*/
/*--  -------------------slider start---------------------------------------- --*/

.slider {
    overflow: hidden;
}

.slick-list {
    overflow: hidden;
}

 .slick-track {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
 }

/*--  -------------------s1 start--------------------- --*/
.s1__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
.s1__row {
    flex: 0 1 100%;
    margin-top: 15px;
}
.s1__title {
    max-width: 144px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #000000;
}

.map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.map__column_center {
}

.map__img {
    width: 100%;
    height: auto;
}

.map__buildind {
    display: flex;
    flex-direction: column;
}

.map__building-icon {
    width: 50px;
    height: 50px;
    border: 4px solid #c2c2c2;
    border-radius: 10%;
    margin-bottom: 10px;
}

.map__building-icon:last-child {
    margin-bottom: 0px;
}

.nav {
    display: flex;
    margin: 30px auto;
}

.nav__left {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid #c2c2c2;
}

.nav__left:hover {
    border-right: 20px solid #515151;
}



.nav__start {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    color: #000000;
    padding: 0px 20px;
}

.nav__right {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #c2c2c2;
}

.nav__right:hover {
    border-left: 20px solid #515151;
}

.menu {
    display: flex;
}

.menu__icon {
    width: 50px;
    height: 50px;
    border: 4px solid #c2c2c2;
    border-radius: 10%;
    margin-right: 10px;
    background-image: url(../img/n1-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;
}

.menu__icon_1:hover {
    background-image: url(../img/n1-3.jpg);
}

.menu__icon_2 {
    background-image: url(../img/n2-2.jpg);
}
.menu__icon_2:hover {
    background-image: url(../img/n2-3.jpg);
}

.menu__icon_3 {
    background-image: url(../img/n3-2.jpg);
}

.menu__icon_3:hover {
    background-image: url(../img/n3-3.jpg);
}

.menu__icon_4 {
    background-image: url(../img/n4-2.jpg);
}

.menu__icon_4:hover {
    background-image: url(../img/n4-3.jpg);
}

.menu__icon:last-child {
    margin-right: 0px;
    margin-bottom: 10px;
}

.menu__icon:hover {

}
/*--  -------------------s1 end--------------------- --*/
/*--  -------------------slider end--------------------- --*/

/*--  -------------------level start--------------------- --*/

.level__header {
    margin-top: 15px;
}

.lheader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.score {
    
}

.score__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.score__img {
    width: 20px;
    height: auto;
}

.score__num {
    padding: 0px 0px 0px 5px;
    color: #515151;
    font-weight: 900;
}

.burger {
    width: 40px;
    height: 40px;
    position: relative;
}

.burger__line {
    position: absolute;
    top: 30%;
    right: 10%;
    transform: translateY(-50%);
    width: 80%;
    height: 3px;
    background-color: #515151;
}

.burger__line_second {
    top: 50%;
    transform: translateY(-50%);
}

.burger__line_third {
    top: 70%;
}


.level__building {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0px;
}

.level__building-icon {
    width: 50px;
    height: 50px;
    border: 4px solid #c2c2c2;
    border-radius: 10%;
    margin-right: 10px;
}

.level__building-icon:last-child {
    margin-right: 0px;
}

.level__prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}

.level__prompt-item {
    width: 30px;
    height: 30px;
    border: 4px solid #c2c2c2;
    border-radius: 10%;
    margin-right: 10px;
    text-align: center;
}

.level__prompt-item:last-child {
    margin-right: 0px;
}


/*--  -------------------level end--------------------- --*/

/*--  -------------------footer start--------------------- --*/
/*--  -------------------footer end--------------------- --*/
