html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Cyrvetica';
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    max-width: 400px;
    max-height: 650px;
    border: 3px solid #000000;
    margin: 0 auto;
}

input, textarea, select, button {
    font-family: inherit;
  }

a {
    text-decoration: none;
}

.container {
    max-width: 380px;
    margin: 0 auto;
    padding: 0 10px;
}

/*--  -------------------index start----------------------------------------- --*/
.index {
    display: block;
    border: 1px solid transparent;
    position: relative;
}

.index__comb {
    position: absolute;
    left: 12%;
    top: 7%;
    width: 76%;
    height: 86%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid transparent;
}

.comb__row {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

.comb__row_0 { 
    margin-top: 0px;
    padding-left: 60px;
}

.comb__row_1 { 
    margin-top: -4px;
    padding-left: 23px;
}

.comb__row_2 { 
    margin-top: -4px;
    padding-right: 14px;
}

.comb__row_3 {
    margin-top: -4px;
    padding-right: 162px;
}

.comb__row_4 {
    margin-top: -4px;
    padding-right: 162px;
}

.comb__row_5 {
    margin-top: -4px;
    padding-right: 125px;
}

.comb__row_6 {
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.comb__row_6-column {
    flex: 0 0 50%;
}



.comb__hexa {
    height: 36px;
    flex: 0 0 37px;
}

.hex {
    position: relative;
    width: 36px;
    height: 36px;
}
.hex__block {
    width: 35px;
    height: 20px;
    border-top: transparent;
    border-left: 3px solid #c2c2c2;
    border-bottom: transparent;
    border-right: 3px solid #c2c2c2;
}

.hex__block_blue {
    animation-duration: 2s;
    animation-name: bl;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

.hex__block_green {
    animation-duration: 2s;
    animation-name: gr;
    animation-iteration-count: infinite;
    animation-delay: 0.6s;
}

.hex__block_yellow {
    animation-duration: 2s;
    animation-name: ye;
    animation-iteration-count: infinite;
    animation-delay: 0.3s;
}

@keyframes bl {
    0% {
        border-top: transparent;
        border-left: 3px solid #c2c2c2;
        border-bottom: transparent;
        border-right: 3px solid #c2c2c2;
    }
    50% {
        border-top: transparent;
        border-left: 3px solid #0bbece;
        border-bottom: transparent;
        border-right: 3px solid #0bbece;
    }
}

@keyframes gr {
    0% {
        border-top: transparent;
        border-left: 3px solid #c2c2c2;
        border-bottom: transparent;
        border-right: 3px solid #c2c2c2;
    }
    50% {
        border-top: transparent;
        border-left: 3px solid #47c835;
        border-bottom: transparent;
        border-right: 3px solid #47c835;
    }
}

@keyframes ye {
    0% {
        border-top: transparent;
        border-left: 3px solid #c2c2c2;
        border-bottom: transparent;
        border-right: 3px solid #c2c2c2;
    }
    50% {
        border-top: transparent;
        border-left: 3px solid #cc8921;
        border-bottom: transparent;
        border-right: 3px solid #cc8921;
    }
}

.hex__block_first {
    width: 35.5px;
    position: absolute;
    top: 15px;
    left: 7.25px;
}

.hex__block_second {
    position: absolute;
    transform: rotate(60deg);
    top: 15px;
    left: 7.25px;
}

.hex__block_third {
    position: absolute;
    transform: rotate(-60deg);
    top: 15px;
    left: 7.25px;
}

.index__logo {
    max-width: 50px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
    color: #000000;
    margin: 42% 50%;
}

.index__loading {
    max-width: 100px;
    font-family: 'Roboto';
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 37px;
    font-weight: 600;
    color: #c2c2c2;
}

.dot {
}

.dot_1 {
    animation-duration: 2s;
    animation-name: dot;
    animation-iteration-count: infinite;
    animation-delay: 0.2s;
}

.dot_2 {
    animation-duration: 2s;
    animation-name: dot;
    animation-iteration-count: infinite;
    animation-delay: 0.4s;
}

.dot_3 {
    animation-duration: 2s;
    animation-name: dot;
    animation-iteration-count: infinite;
    animation-delay: 0.6s;
}

@keyframes dot {
    0% {opacity: 1;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}


/*--  -------------------index end------------------------------------------- --*/
/*--  -------------------header start---------------------------------------- --*/
.header__row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__bracket {
  flex: 0 0 20%;
}

.bracket {
    border: 1px solid red;
    height: 100%;
}

.bracket_left {
    justify-self: end;
}

.bracket__hex {
    /* position: absolute;
    top: 0%;
    right: 0%; */
}

.hex__block_bracket {
    width: 14px;
    height: 8px;
    border-top: transparent;
    border-left: 3px solid #000000;
    border-bottom: transparent;
    border-right: 3px solid #000000;
}

.header__title {
    flex: 0 0 auto;
}




/* .bracket::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #green;
    margin: 0 0 0 -10px;
} */
/*--  -------------------burger start--------------------- --*/
/*--  -------------------burger end--------------------- --*/

/*--  -------------------header end--------------------- --*/
/*--  -------------------main start--------------------- --*/

/*--  -------------------main end--------------------- --*/
/*--  -------------------footer start--------------------- --*/
/*--  -------------------footer end--------------------- --*/
